.font-container {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

button {
  padding: 5px;
  width: 100px;
}

.first-task__text {
  color: rgb(42, 172, 189);
  font-weight: bold;
}
